# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
package.json

# Images
!MenuIcon.rpgmvp
!01_nk_ui_menu_bg.rpgmvp
!01_nk_kokoro_icon_desire.rpgmvp
!01_nk_kokoro_icon_reason.rpgmvp
!01_nk_kokoro_ketteText.rpgmvp
!01_nk_qte_text.rpgmvp
!01_nk_ui_control.rpgmvp
!01_nk_ui_hatujoGauge_label.rpgmvp
!01_nk_ui_zecchoGauge_label.rpgmvp
!01_ui_reception_turnFrame.rpgmvp
!01_ui_reception_ui1.rpgmvp
!!Layout2.rpgmvp
!lock_anaru_1.rpgmvp
!lock_anaru_2.rpgmvp
!lock_anaru_3.rpgmvp
!lock_gohousi_1.rpgmvp
!lock_gohousi_2.rpgmvp
!lock_gohousi_3.rpgmvp
!lock_kouin_1.rpgmvp
!lock_kouin_2.rpgmvp
!lock_kouin_3.rpgmvp
!lock_Mplay_1.rpgmvp
!lock_Mplay_2.rpgmvp
!lock_Mplay_3.rpgmvp
!lock_nakadasi_1.rpgmvp
!lock_nakadasi_2.rpgmvp
!lock_nakadasi_3.rpgmvp
!lock_onani-_1.rpgmvp
!lock_onani-_2.rpgmvp
!lock_onani-_3.rpgmvp
!lock_roshutu_1.rpgmvp
!lock_roshutu_2.rpgmvp
!lock_roshutu_3.rpgmvp
!lock_sawararetai_1.rpgmvp
!lock_sawararetai_2.rpgmvp
!lock_sawararetai_3.rpgmvp
!lock_sawaritai_1.rpgmvp
!lock_sawaritai_2.rpgmvp
!lock_sawaritai_3.rpgmvp
!lock_sounyu_1.rpgmvp
!lock_sounyu_2.rpgmvp
!lock_sounyu_3.rpgmvp
!status_bg.rpgmvp
!Damage7.rpgmvp
!semen.rpgmvp