# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
package.json

# Images
!MenuIcon.rpgmvp
!01_nk_ui_menu_bg.rpgmvp
!01_nk_kokoro_icon_desire.rpgmvp
!01_nk_kokoro_icon_reason.rpgmvp
!01_nk_kokoro_ketteText.rpgmvp
!01_nk_qte_text.rpgmvp
!01_nk_ui_control.rpgmvp
!01_nk_ui_hatujoGauge_label.rpgmvp
!01_nk_ui_zecchoGauge_label.rpgmvp
!01_ui_reception_turnFrame.rpgmvp
!01_ui_reception_ui1.rpgmvp
